:root {
  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  width: 50vw;
  margin: auto;
}

.accordion__item {
  border: 1px solid black;
  border-width: 1px 0 0;
  margin: 15px 0 15px;
}

.img_acc {
  width: 100%;

  height: 20em;

  object-fit: contain;
}

.accordion__item__triger {
  display: flex;
  justify-content: space-between;
}

.title_item {
  font-size: 2rem;
  font-weight: bold;
}

.accordion__item__input {
  opacity: 0;
}

.accordion__item__content {
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.accordion__item__input:checked ~ .accordion__item__content {
  height: 20rem;
}

.accordion__item__input:checked ~ .cross {
  visibility: visible;
}

.accordion {
  color: blue;
}

.cross {
  visibility: hidden;
}

h1 {
  font-size: 2.5rem;
}

.accordion__item__input:active {
  color: blue;
}

.accordion__item__content:checked {
  height: 20em;
}

input:checked ~ .accordion__item__triger .cross {
  transform: rotate(45deg);
}

input:checked ~ .accordion__item__triger {
  color: black;
}

input:active ~ .accordion__item__triger {
  color: blue;
}

@media (hover: hover) {
  .accordion:hover .cross {
    visibility: visible;

    transition-duration: 0.35s;
  }
  .accordion__item__input:hover ~ .accordion__item__content {
    height: 20rem;
  }

  .accordion:hover {
    color: black;
    cursor: pointer;
  }
  .accordion__item__triger:hover {
    cursor: pointer;
  }

  .accordion__item:hover {
    cursor: pointer;
  }

  .accordion__item:hover .cross {
    transform: rotate(45deg);
  }

  .accordion__item__content:hover {
    height: 20rem;
  }
}

body {
  background-color: #f8f8d9;
}

@media screen and (max-width: 321px) {
  :root {
    font-size: 0.6rem;
  }
  .wrapper {
    width: 90vw;
  }
}

@media screen and (max-width: 821px) {
  :root {
    font-size: 0.7rem;
  }
  .wrapper {
    width: 90vw;
    transition: linear 0.35s;
  }
}

@media screen and (max-width: 1220px) {
  :root {
    font-size: 0.9rem;
  }
  .wrapper {
    width: 85vw;
    transition: linear 0.35s;
  }

  .cross {
    visibility: visible;
    transition-duration: 0.35s;
  }
}
